aiohttp
aiomysql
async-timeout
attrs
autopep8
backcall
bcrypt
brotlipy
certifi
cffi
chardet
circleguard
click
cmyui
colorama
cryptography
datadog
decorator
dill
geoip2
idna
ipython
ipython-genutils
jedi
maniera
matplotlib-inline
maxminddb
multidict
mysql-connector-python
numpy
orjson
osrparse
ossapi
parso
pickleshare
prompt-toolkit
protobuf
psutil
py3rijndael
pycodestyle
pycparser
Pygments
PyMySQL
pyOpenSSL
PySocks
requests
scipy
simplejson
six
slider
toml
traitlets
typing-extensions
urllib3
wcwidth
win-inet-pton
wincertstore
wtc
yarl
